* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

input {
  color: white;
}

button {
  background: none;
  border: none;
}

.modal {
  display: flex;
  width: 750px;
  border-radius: 300px 0px;
  background: #fff2fd;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
  height: 600px;
  overflow-y: scroll;
  padding-top: 300px;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.781);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal__logo {
  width: 132px;
  height: 132px;
  margin-bottom: 40px;
}

.modal-body {

  height: 700px;
  display: flex;
  justify-content: center;
}

.modal-body__btn {
  border: 1px solid #4c00fe;
  border-radius: 5px;
  width: 255px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #4c00fe;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding: 10px;
  margin-bottom: 32px;
}

.modal-body__img {
  width: 271px;
  height: 618px;
  margin-right: 60px;
  object-fit: cover;

}


.modal-body-info__btn {
  margin-top: 20px;
  margin-bottom: 31px;
  border-radius: 5px;
  width: 145px;
  height: 40px;
  text-transform: uppercase;
  background: #4c00fe;
  color: white;
  border: none;
}


.modal-body-info__title {
  margin-bottom: 7px;
  color: #dc56c5;
  font-weight: 600;
  font-size: 24px;
}

.modal-body-info__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #0e0e0e;
}

.container {
  margin-left: 115px;
  margin-right: 115px;
}

.header-wraper {
  background: url(/buyTicket/public/pic.png);
}

.header {
  padding-top: 40px;
  padding-bottom: 110px;
}

.header-bg__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header-title {
  color: #DC56C5;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.header-bottom-l__input {

  width: 270px;
  height: 40px;
  border-radius: 20px;
  border: none;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.header-bottom-l,
.header-bottom-r {
  position: relative;
  margin-top: 52px;
}

.header-bottom-l__svg {
  position: absolute;
  right: 24px;
  cursor: pointer;
  top: 16px;
}

.header-bottom-r__input {

  width: 270px;
  height: 40px;
  border-radius: 20px;
  border: none;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #939393;
}

input:focus-visible {
  outline: none;
}

.main-wraper {
  background: url(/buyTicket/public/bdBOdy.png) no-repeat center/cover;
}

.main {
  padding-right: 115px;
  padding-left: 115px;
  padding-top: 100px;
}

.main-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 50px;
  justify-content: space-between;
}

.main-cards-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  width: 300px;
  position: relative;
}

.main-cards-card-pic {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
  height: 200px;
  z-index: 1;
  position: relative;
}

.main-cards-card-title {
  font-family: "Montserrat", sans-serif;
  color: #DC56C5;
  font-weight: 700;
}

.main-cards-card-data {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
}

.main-cards-card-location {
  display: flex;
  align-items: center;
  column-gap: 4px;
  justify-content: center;
}

.main-cards-card-location-content {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 3px;
}



.main-cards-card::before {
  content: '';
  position: absolute;
  border: 1px solid rgba(220, 86, 197, 0.3);
  border-radius: 50px 0;
  width: 153px;
  height: 143px;
  right: -14px;
  top: -13px;

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-pagination {
  display: flex;
}

.footer-pagination-page {
  display: flex;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.active-page {
  color: #DC56C5;
  padding: 5px 12px;
  border: 1px solid #DC56C5;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer {
  margin-top: 80px;
  margin-bottom: 20px;
}

.footer__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #939393;
}



@media (max-width: 768px) {

  .container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .header-title {
    font-size: 32px;
  }

  .header-bottom {
    flex-direction: column;
    row-gap: 20px;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .main-cards {
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
  }

  .main-cards-card {
    width: 45%;
  }

  
  .modal {
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 50px 0;
  }

  .modal-body {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .modal-body__img {
    width: 200px;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}



@media (max-width: 480px) {

  .header-title {
    font-size: 24px;
  }


  .header-bottom-r__input {
    width: 100%;
  }

  .main-cards-card {
    width: 100%;
  }

  .main-cards-card-pic {
    height: 180px;
  }

  .modal {
    width: 95%;
    padding: 15px;
  }

  .modal__logo {
    width: 90px;
    height: 90px;
  }

  .modal-body__btn {
    width: 100%;
  }

  .modal-body-info__title {
    font-size: 18px;
  }

  .modal-body-info__text {
    font-size: 14px;
  }

  .footer__text {
    font-size: 14px;
  }
}