* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  margin-left: 115px;
  margin-right: 115px;
}

.header-wraper {
  background: url(/pic.png);
}

.header {
  padding-top: 40px;
  padding-bottom: 110px;
}

.header-bg__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header-title {
  color: #DC56C5;
  font-family: "Montserrat", sans-serif;
  justify-self: center;
  font-weight: 900;
  font-size: 50px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.header-bottom-l__input {

  width: 270px;
  height: 40px;
  border-radius: 20px;
  border: none;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

}


.header-bottom-l__svg {
  position: absolute;
}

.header-bottom-r__input {

  width: 270px;
  height: 40px;
  border-radius: 20px;
  border: none;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.2);
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #939393;
}

input:focus-visible {
  outline: none;
  color: white;
}

.main-wraper{
   background: url(/bg\ body.png) no-repeat center/cover;
}

.main {
 
  display: flex;
}

.main-block__img {
  width: 180px;
  height: 227px;
}

.main-block__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #dc56c5;
}

.main-block__date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.main-block-bot {
  display: flex;
}

.main-block-bot-geo {
  width: 137px;
  height: 17px;
  color: #FFFFFF  ;
  text-decoration: none;
}

.main-block{
  position: relative;
}

.main-block::before{
  content: '';
  position: absolute;
  border: 1px solid rgba(220, 86, 197, 0.3);
border-radius: 50px 0;
width: 153px;
height: 143px;
right: -14px;
top: -13px;
}